<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Student list</h1>
    <table border="1" width="100%">
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>SEMESTER</th>
            <th>CREDIT COMPLETE</th>
            <th>ACTION</th>
        </tr>
        
    <% if(student.length > 0){ %>
            <% for(var i =0 ; i<student.length; i++){ %>
                <tr>
                    <td><%- student[i].name %></td>
                    <td><%- student[i].id %></td>
                    <td><%- student[i].sem %></td>
                    <td><%- student[i].credit %></td>
                    <td><a href="/delete-student?id=<%- student[i].id %>">Delete</a>
                        <a href="/update-student?id=<%- student[i].id %>">Update</a>
                    </td>
                </tr>
                <% } %>
        <% }else{ %>
            <h1>data not found</h1>
         <% } %> 
    </table>
    
    
</body>
</html>